<center><h3><b>&nbsp&nbsp&nbspAll Teams</h3></center>

<div class="col-sm-12"><br>

  <div class="col-sm-3">
		<center><a ui-sref="team">&nbsp&nbsp&nbsp&nbsp<img src="https://firebasestorage.googleapis.com/v0/b/ipl-project-66b8a.appspot.com/o/Team%20Logo%2FMumbai.png?alt=media&token=af160582-8b82-4eb3-a3c9-3d6391341c7f" 
									width="200" height="200" class="img-rounded"></a>
		<h4><B>Mumbai Indians</h4>
		<a ui-sref="team">&nbsp&nbsp&nbsp&nbsp<img src="https://firebasestorage.googleapis.com/v0/b/ipl-project-66b8a.appspot.com/o/Team%20Logo%2FRCB.png?alt=media&token=842506fe-80fd-427e-978a-920f9919bedd"
									width="200" height="200" class="img-rounded"></a>
		<h4><B>Royal Challengers Banglore</h4>
  </div>


<div class="col-sm-3">
		<center><a ui-sref="team">&nbsp&nbsp&nbsp&nbsp<img src="https://firebasestorage.googleapis.com/v0/b/ipl-project-66b8a.appspot.com/o/Team%20Logo%2FChennai.png?alt=media&token=1641cc1c-c911-48c3-96e4-948d183b2b34"
									width="200" height="200" class="img-rounded"></a>
		<h4><B>Chennai Super Kings</h4>
		<a ui-sref="team">&nbsp&nbsp&nbsp&nbsp<img src="https://firebasestorage.googleapis.com/v0/b/ipl-project-66b8a.appspot.com/o/Team%20Logo%2FDelhi.png?alt=media&token=16ed60b5-a8c4-4141-b29a-618a2376b054" 
									width="200" height="200" class="img-rounded"></a>
		<h4><B>Delhi Deredevils</h4>
 </div>

<div class="col-sm-3">
		<center><a ui-sref="team">&nbsp&nbsp&nbsp&nbsp<img src="https://firebasestorage.googleapis.com/v0/b/ipl-project-66b8a.appspot.com/o/Team%20Logo%2FRajasthan.png?alt=media&token=33bc744d-2b94-4b5e-96b8-c0f4871db9f1" 
									width="200" height="200" class="img-rounded"></a>
		<h4><B>Rajstan Royals</h4>
		<a ui-sref="team">&nbsp&nbsp&nbsp&nbsp<img src="https://firebasestorage.googleapis.com/v0/b/ipl-project-66b8a.appspot.com/o/Team%20Logo%2FKolkata.jpg?alt=media&token=05bf7cc2-7e23-4207-b751-192f41a4e52b"
									width="200" height="200" class="img-rounded"></a>
		<h4><B>Kolkata Night Riders</h4>
 </div>


<div class="col-sm-3">
	  <center><a ui-sref="team">&nbsp&nbsp&nbsp&nbsp<img src="https://firebasestorage.googleapis.com/v0/b/ipl-project-66b8a.appspot.com/o/Team%20Logo%2FHydrabad.jpg?alt=media&token=4964a336-9d28-4763-a920-2d984f60ffdf" 
									width="200" height="200" class="img-rounded"></button></a>
		<h4><B>Decan Chargers</h4>
		<a ui-sref="team">&nbsp&nbsp&nbsp&nbsp<img src="https://firebasestorage.googleapis.com/v0/b/ipl-project-66b8a.appspot.com/o/Team%20Logo%2FPanjab.jpg?alt=media&token=54526e89-9d83-4661-a1d1-fe3eb5c42f96" 
									width="200" height="200" class="img-rounded"></button></a>
		<h4><B>Kings11 Panjab</h4></center>
 </div>
	
	
