
<!--Displaying player profile picture-->
<center><img src="{{data2.player_img_url}}" width="200" height="200" class="img-rounded"></img></center>
<h2><b><font color="purple">{{data2.player_name}}</font></b></h3> 
         <br>

<!--Displaying player info-->
<table>
   <tr>
        <td>
        <font color="black">
         <li><b>Batting Style:</b>&nbsp  {{data2.player_batting_style}}</li><br>
         <li><b>Bowling Style:</b>&nbsp  {{data2.player_bowling_style}}</li><br>
         <li><b>Date of Birth:</b>&nbsp  {{data2.player_dob}}</li><br>
         <li><b>Nationality:  </b>&nbsp  {{data2.player_nationality}}</li><br>
         <li><b>Role of Player:</b>&nbsp {{data2.player_role}}</li>
        </font>
        </td>
   </tr>
</table>

