<!--<div ng-controller="playercntrl">-->

<div class="col-sm-3"><br>

<div ng-repeat="x in data">
    </div>
        <center><img src="{{x.player_img_url}}" 
                    width="200" height="200" class="img-rounded"></img>
        <h2><b><font color="purple">{{ portfolioId }}</font></b></h2> </div>
</div>

<div class="col-sm-1">
    
</div>


<div class="col-sm-4">
        <h3><b><u>Team Information :</u></b></h3>
        <table>
            <!--<tr ng-repeat="x in data">-->
              <td> 
                {{x.team_captain}}
              <b>Team Captain:&nbsp</b>{{x.team_name}}<br><br>
              <b>Team Coach:&nbsp</b>{{x.team_coach}}<br><br>
              <b>Home Ground:&nbsp</b>{{x.team_home_venue}}<br><br>
              <b>Team Owner:&nbsp</b>{{x.team_owner}}<br>

              </td>
            </tr> 
        </table>
</div>


<div class="col-sm-4">
        <h3><b><u>Team Players :</u> </b></h3>
        <table>
            <tr ng-repeat="x in data">
                <td>  
                <a ui-sref="player({ portfolioId: '{{x.player_name}}'})">
                <li><font color="black">{{x.player_name}}</font></li></a>
                </td>
            </tr>
        </table>
</div>
 
</div>

