 <!--<html>
     <head>
 <link rel="stylesheet" href="/home/bridgeit/Documents/JS/Chat App/layout.css">
     </head>-->

<body>

    
        <div class="chatwindow">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat 
                </div>

            <div>
                <br><br><br><br><br><br><br>
            </div>
                
                <div class="panel-footer">
                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                            Send</button>
                        </span>
                </div>
            </div>
        </div>
    

     </body>


 <ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Arunkumar Maha<span class="glyphicon glyphicon-user pull-right"></span></a>
    <ul class="dropdown-menu">
      <li>
        <a href="#acc">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#fav">Favourites<span class="glyphicon glyphicon-heart pull-right"></span></a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#status">Status <span class="glyphicon glyphicon-stats pull-right"></span></a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#logout">Logout<span class="glyphicon glyphicon-log-out pull-right"></span></a>
      </li>
    </ul>
  </li>
</ul>