<html>
<head>
    <link rel="stylesheet" href="/home/bridgeit/Documents/JS/Chat App/layout.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
    <div class="col-sm-2 sidenav">
        <br>
          <h4><b>View</b></h4>
          <a ui-sref=".new"><h5>New</h5></a>
          <h5>Assigned</h5>
          <h5>Resolved</h5>
          <h5>Archived</h5><br>
          <h4><b>Your view</b></h4>
    </div>

    <div class="col-sm-10">
        <ui-view></ui-view>
    </div>

    
</body>
</html>