



 <!--Login form-->
<form class="form-signin">
          <h2>Please sign in</h2>
    
          <input type="text" class="form-control" placeholder="Username" ng-model="username">

          <input type="text" class="form-control" placeholder="Password" ng-click="signup()">

          <h5><input type="checkbox"> &nbsp Remember me</h5>
          
          <a ui-sref="home"><button class="btn btn-lg btn-primary btn-block">Login</button></a>
          <a ui-sref="signup">Sign up for new user</a>
</form>    
