<html>

<head>
    
    <link rel="stylesheet" href="/home/bridgeit/Documents/JS/Chat App/layout.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


</head>

<body>
    <div class="col-sm-2 sidenav">
        <br>
          <h4><b>Segments</b></h4>
          <p><h5>All</h5>
          <h5>All Android Users</h5>
          <h5>All IOS Users</h5>
          <h5></h5><br>   
    </div>
    
    <div class="col-sm-10">
    <h2>All</h2>
    <table class="table">
        <tr>
        <th>Name</th>
        <th>Last Seen</th>
        <th>Identifier</th>
        <th>Session</th>
        <th>Push Enabled</th>
        </tr>
        
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>                
    </table>
    </div>
</body>
</html>