
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


<div class="col-sm-3">
<br><br>
<a><div class="well">Agents</div></a><br>
<div class="well">Groups</div><br>
<div class="well">Message Channel</div><br>
<!--<div class="well">Smart Plugs</div><br>-->
</div>   

<div class="col-sm-3">
<br><br>
<div class="well">Channed Responce</div><br>
<div class="well">Labels</div><br>
<div class="well">Business Hours</div><br>
<!--<div class="well">Billing</div>-->
</div>   

<div class="col-sm-3">
<br><br>
<div class="well">Automated Responce</div><br>
<div class="well">Your Account</div><br>
<div class="well">SDK & APP</div>
</div>   
 
