 
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>

<!--dividing screen in 3 parts-->
<div class="col-sm-3">
    <br><br>
    <button class="well" ui-sref="home.agent">Agents</button><br>
    <button class="well">Groups</button><br>
    <button class="well">Message Channel</button><br>   
</div>   

<div class="col-sm-3">
    <br><br>
    <button class="well">Channed Responce</button><br>
    <button class="well">Labels</button><br>
    <button class="well">Business Hours</button><br>    
</div>   

<div class="col-sm-3">
    <br><br>
    <button class="well">Automated Responce</button><br>
    <button class="well" ui-sref="home.youracc">Your Account</button><br>
    <button class="well">SDK & APP</button>
</div>




 
