
<!--Sign up-->
<form class="form-signin" name="signup">
    <center><img src="/home/bridgeit/Documents/JS/Chat App/user2.png" 
    class="img-circle" style="width:160px;height:160px"></img><br></center>
    <br><br>

    Enter Username:
    <input type="text" class="form-control" ng-model="username" required>

    Enter Password:
    <input type="text" class="form-control" ng-model="pwd" required>

    Email:
    <input type="text" class="form-control" placeholder="@gmail.com"><br>
          
    <a ui-sref="login"><button class="btn btn-lg btn-success btn-block" ng-click="signup()"
     ng-disabled="signup.$invalid">Sign up</button></a> 
</form>    
