<div class="col-sm-9"><br>
    <u>
        <h3><b>Agents<b></h3></u><br>

    <!--Table of Users-->
    <table class="table">
        <tr><b>  
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
        </tr>
        
        <tr>
            <td>Prathamesh</td>
            <td>prathameshsn94@gmail.com</td>
            <td>Account Admin</td>
            <td><a href><i class="glyphicon glyphicon-pencil" ng-click="edit()">Edit</a></td>
        </tr>                
    </table>
</div>

<!--sidebar on right side-->
<div class="col-sm-3 sidenav"><br>
    <h4>Agents</h4><br>
    <h5>An Agent is a member of your Customer Support / Engagement team. 
        Agents will be able to view and reply to messages from your users.
        The list shows all Agents currently in your account. 
        Hover over an Agent to see the option to edit details for that agent, 
        or click on “Add Agent” to add a new Agent. 
        Agents you add will receive an email with a confirmation link to activate their account, 
        after which they can access and respond to messages.<br><br><br>

        Access to Hotline features are based on an Agent's role -<br><br><br>
        Agent - Agents with this role can only access the inbox and conversations.<br><br><br>
        Super User - Super Users have access to Campaigns and FAQs in addition to the Inbox, 
        but cannot see or modify any common settings.<br><br><br>
        Admin - Admin will have access to all Hotline features enabled for your account.
</div>

<div id="agent" class="modal">
<div class="edit">
    <div class="panel panel-default">

        <div class="panel-heading">
            <a href class="close" ng-click="closeedit()">×</a> 
            <h4><b>EDIT AGENT</b><h4>
        </div>
        
        <hr>
        &nbspName:<br>
        <input type="text" class="form-control"><br>    
        &nbspEmail:<br>
        <input type="text" class="form-control"><br> 
        &nbspRole:<br>
        <select class="form-control" ng-disabled="true">
            <option>Admin</option>
            <option></option>
        <select>
        <hr>

        <div class="panel-footer">
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-primary" ng-click="closeedit()">Cancel</button>
        </div>

    </div>
</div>
</div>