<div class="col-sm-2">

<!--user icon-->
<u><h3><b>Your Details<b></h3></u><br>
<img src="/home/bridgeit/Documents/JS/Chat App/user2.png" class="img-circle" style="width:160px;height:160px">
</img>
</div>

<!--Account Form-->
<div class="col-sm-7"><br><br>
    <h5><b>Name</b><br>
    <input type="text" class="form-control"  style="width:350px;"><br>
    <b>Email Id</b><br>
    <input type="text" class="form-control"  style="width:350px;"><br>
    <b>Email Notifications</b></br>
    <input type="checkbox">Send me an email every time a message is sent on a conversation I am assigned to.<br>
    <input type="checkbox">Send me an email every time a message is sent on any conversation.<br><br>
    <b>Desktop Notifications</b><br>
    <input type="checkbox">Send me a notification every time a message is sent on a conversation I am assigned to
    <br>
    <input type="checkbox">Send me a notification every time a message is sent on any conversation.<br>
    <input type="checkbox">Send me a notification every time a new conversation is started.<br>
    <input type="checkbox">Send me a notification every time a conversation is assigned to me.<br>
    <button class="btn btn-primary">Save</button><br><br><br>

    <b>CHANGE PASSWORD<br><br>
    <b>Old Password</b>
    <input type="text" class="form-control"  style="width:350px;"><br>
    <b>New Password</b>
    <input type="text" class="form-control"  style="width:350px;">
    <button class="btn btn-primary">Change Password</button>
</div>

<!--sidebar on right side-->
<div class="col-sm-3 sidenav"><br>
    <h4>Your Account</h4><br>
    <h5>You can manage your account, change your password, and enable or disable email alerts from this page. 
</div>