 body  {
 background-image: url("/home/bridgeit/Downloads/IPL/Images/plain-depth.jpg");
}

.Integrate-SDK {   
    margin-top:8px;
    margin-left: 1000px;
} 

.chatbox {
margin-top: 230px;
margin-left: 898px;
width: 400px;
height: 320px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.content {
  height: 289px;
};