<html>

    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
        apiKey: "AIzaSyB4tZ_1Led9_0bgtpb3wZHFlfGdpmtOCtk",
        authDomain: "ipl-project-66b8a.firebaseapp.com",
        databaseURL: "https://ipl-project-66b8a.firebaseio.com",
        storageBucket: "ipl-project-66b8a.appspot.com",
        };
        firebase.initializeApp(config);
    </script>

    <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
         <div class="col-sm-12"><br>
            
            <div class="col-sm-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/ipl-project-66b8a.appspot.com/o/Team%20Logo%2FRajasthan.png?alt=media&token=33bc744d-2b94-4b5e-96b8-c0f4871db9f1" width="200" height="200" class="img-rounded"></a>
              <h4></h4>
            </div>

            <div class="col-sm-9">
                <script>
                    // var ref = firebase.database().ref();

                    // ref.on("value", function(snapshot) {
                    // console.log(snapshot.val());
                    // }, function (error) {
                    // console.log("Error: " + error.code);
                    // });

                    var commentsRef = firebase.database().ref('IPL/' + 0);
                    commentsRef.on('child_added', function(data) {
                    addCommentElement(postElement, data.key, data.val().text, data.val().author);
                    });
                    // c	
                </script>
            </div>

         </div>
    </body>
    
</html>