<div class="col-sm-8">
    <br><br>
    <h4>App Keys<br><br></h4>

    <h5>Your account is associated with this secret ID and key, which is used to integrate with ChatApp.<br><br>
     Please do not share this with anyone.<br><br><br><br>

        <b>App ID</b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbsp
                    <a>{{admindata.Appid}}</a><br><br>
        <b>App Key</b> &nbsp&nbsp&nbsp:&nbsp
                    <a>{{admindata.Appkey}}</a><br><br>
        <b>App Name</b> :&nbsp<input type="text" value={{admindata.Appname}}></h5>
</div>